/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* Основные цвета */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green: #00cc14;

  /* Цвет текста и фон страницы по умолчанию */
  --text-color: var(--color-black, #000000);
  --page-background-color: var(--color-white, #ffffff);

  /* Шрифты для страницы */
  --page-main-font-family: "Inter", sans-serif;
  --page-main-font-weight: 400;
  --page-accent-font-family: "PressStart2P", fantasy;

  /* Фоновое изображение страницы */
  --page-background-image: 
    repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      #d3d3d300 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    );

  /* Цвета для иконки лайка */
  --like-main-body-color: none;
  --like-contour-color: var(--text-color, #000000);
  --like-sparks-color: #ff0000;

  /* Вес шрифтов заголовков */
  --headings-font-weight: 700;

  /* Цвет текста на кнопках */
  --button-text-color: var(--page-background-color, #fff);
}
